<div class="accordion-item">
  <h2 class="accordion-header" id="headingTwo">
    <button
      class="accordion-button collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      Colors
    </button>
  </h2>
  <div
    id="collapseTwo"
    class="accordion-collapse collapse"
    aria-labelledby="headingTwo"
    data-bs-parent="#accordionexample"
  >
  
    <div class="accordion-body">
      <div class="mb-3">
        <label for="filterText" class="form-label">Color Search</label>
        <span class="badge bg-secondary" routerLink="coloredit" >Edit Colors</span>
        <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Search for a color.">
      </div>
      <ul class="list-group">
        <li routerLink="" [class]="getCurrentColorClass(clearColor)" (click)="this.setCurrentColor(clearColor)"> All Colors</li>
        <li
          *ngFor="let color of colors | colorFilter:filterText"
          (click)="this.setCurrentColor(color)"
          [class]="getCurrentColorClass(color)"
          routerLink="/cars/colors/{{color.id}}"
        >
          {{ color.name }}
        </li>
      </ul>
    </div>
  </div>
</div>
