<div class="accordion-item">
  <h2 class="accordion-header" id="headingTwo">
    <button
      class="accordion-button collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      Colors
    </button>
  </h2>
  <div
    id="collapseTwo"
    class="accordion-collapse collapse"
    aria-labelledby="headingTwo"
    data-bs-parent="#accordionexample"
  >
    <div class="accordion-body">
      <ul class="list-group">
        <li
          *ngFor="let color of colors"
          (click)="this.setCurrentColor(color)"
          [class]="getCurrentColorClass(color)"
          routerLink="/cars/colors/{{color.id}}"
        >
          {{ color.name }}
        </li>
      </ul>
    </div>
  </div>
</div>
