<div class="accordion-item">
  <h2 class="accordion-header" id="headingOne">
    <button
      class="accordion-button collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseOne"
      aria-expanded="true"
      aria-controls="collapseOne"
    >
      Brands
    </button>
  </h2>
  <div
    id="collapseOne"
    class="accordion-collapse collapse"
    aria-labelledby="headingOne"
    data-bs-parent="#accordionExample"
  >
    <div class="accordion-body">
        <ul class="list-group">
            <li *ngFor="let brand of brands" class="list-group-item">{{brand.name}}</li>
          </ul>
    </div>
  </div>
</div>
