<div class="accordion-item">
  <h2 class="accordion-header" id="headingOne">
    <button
      class="accordion-button collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseOne"
      aria-expanded="true"
      aria-controls="collapseOne"
    >
      Brands
    </button>
  </h2>
  <div
    id="collapseOne"
    class="accordion-collapse collapse"
    aria-labelledby="headingOne"
    data-bs-parent="#accordionExample"
  >
    <div class="accordion-body">
      <div class="mb-3">
        <label for="filterText" class="form-label">Brand Search</label>
        <span class="badge bg-secondary" routerLink="brandedit" >Edit Brands</span>
        <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Search for a brand.">
      </div>
      
      <ul class="list-group">
        <li routerLink="" [class]="getCurrentBrandClass(clearBrand)" (click)="this.setCurrentBrand(clearBrand)"> All Brands</li>
        <li
          *ngFor="let brand of brands | brandFilter:filterText"
          (click)="this.setCurrentBrand(brand)"
          routerLink="cars/brands/{{ brand.id }}"
          [class]="getCurrentBrandClass(brand)"
        >
          {{ brand.name }}
          
        </li>
      </ul>
    </div>
  </div>
</div>
